<!DOCTYPE html>
<html lang="pt-br">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Conceitos fundamentais</title>
		<!-- htmx cdn -->
		<script
			src="https://unpkg.com/htmx.org@1.9.10"
			integrity="sha384-D1Kt99CQMDuVetoL1lrYwg5t+9QdHe7NLX/SoJYkXDFfX37iInKRy5xLSi8nO7UC"
			crossorigin="anonymous"
		></script>
		<script src="script.js" defer></script>
		<link rel="stylesheet" href="styles.css" />
	</head>
	<body>
		<h1>Aula 1</h1>

		<button hx-post="http://localhost:3000/post" hx-target="#result">
			Enviar POST
		</button>

		<div id="result"></div>

		<h2>Aula 2</h2>

		<button hx-put="http://localhost:3000/put" hx-target="#result-put">
			Enviar PUT
		</button>

		<div id="result-put"></div>

		<button
			hx-delete="http://localhost:3000/delete"
			hx-target="#result-delete"
		>
			Enviar DELETE
		</button>

		<div id="result-delete"></div>

		<h2>Aula 3</h2>

		<input
			type="text="
			hx-get="http://localhost:3000/trigger"
			hx-target="#result-trigger"
			hx-trigger="keyup"
		/>

		<div id="result-trigger"></div>

		<h2>Aula 4</h2>

		<button
			hx-get="http://localhost:3000/once"
			hx-target="#result-once"
			hx-trigger="click once"
		>
			Clique uma vez
		</button>

		<div id="result-once"></div>

		<button
			hx-get="http://localhost:3000/delay"
			hx-target="#result-delay"
			hx-trigger="click delay:2000ms"
		>
			Delay de 2s
		</button>

		<div id="result-delay"></div>

		<button id="external-trigger">Clique para acionar</button>

		<button
			id="trigger-button"
			hx-get="http://localhost:3000/external"
			hx-target="#result-external"
			hx-trigger="click from:#external-trigger"
		>
			Botão oculto
		</button>

		<div id="result-external"></div>

		<h2>Aula 5</h2>

		<button
			hx-get="http://localhost:3000/control-click"
			hx-target="#result-control-click"
			hx-trigger="click[ctrlKey] once"
		>
			Control click
		</button>

		<div id="result-control-click"></div>

		<button
			hx-get="http://localhost:3000/global-condition"
			hx-target="#result-global-condition"
			hx-trigger="click[checkCondition()]"
		>
			Trigger com função JS
		</button>

		<div id="result-global-condition"></div>

		<h2>Aula 6</h2>

		<div
			hx-get="http://localhost:3000/load"
			hx-target="#result-load"
			hx-trigger="load"
		></div>

		<div id="result-load"></div>

		<!-- <div
			hx-get="http://localhost:3000/revealed"
			hx-target="#result-revealed"
			hx-trigger="revealed"
			id="div-revealed"
		></div>

		<div id="result-revealed"></div> -->

		<h2>Aula 7</h2>

		<!-- <div
			hx-get="http://localhost:3000/polling"
			hx-target="#result-polling"
			hx-trigger="every 5s"
			id="div-polling"
		></div>

		<div id="result-polling"></div> -->
	</body>
</html>
