<!DOCTYPE html>
<html lang="pt-br">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Conceitos fundamentais</title>
		<!-- htmx cdn -->
		<script
			src="https://unpkg.com/htmx.org@1.9.10"
			integrity="sha384-D1Kt99CQMDuVetoL1lrYwg5t+9QdHe7NLX/SoJYkXDFfX37iInKRy5xLSi8nO7UC"
			crossorigin="anonymous"
		></script>
	</head>
	<body>
		<h1>Aula 1</h1>

		<button hx-post="http://localhost:3000/post" hx-target="#result">
			Enviar POST
		</button>

		<div id="result"></div>

		<h2>Aula 2</h2>

		<button hx-put="http://localhost:3000/put" hx-target="#result-put">
			Enviar PUT
		</button>

		<div id="result-put"></div>

		<button
			hx-delete="http://localhost:3000/delete"
			hx-target="#result-delete"
		>
			Enviar DELETE
		</button>

		<div id="result-delete"></div>

		<h2>Aula 3</h2>

		<input
			type="text="
			hx-get="http://localhost:3000/trigger"
			hx-target="#result-trigger"
			hx-trigger="keyup"
		/>

		<div id="result-trigger"></div>
	</body>
</html>
