#trigger-button {
    display: none;
}

#div-revealed {
    margin-top: 1000px;
    width: 100px;
    height: 100px;
    background-color: blueviolet;
}

#loading-indicator {
    display: none;
}

#loading-indicator.htmx-request {
    display: block;
}