<!DOCTYPE html>
<html lang="pt-br">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Carregamento</title>
		<!-- htmx cdn -->
		<script
			src="https://unpkg.com/htmx.org@1.9.10"
			integrity="sha384-D1Kt99CQMDuVetoL1lrYwg5t+9QdHe7NLX/SoJYkXDFfX37iInKRy5xLSi8nO7UC"
			crossorigin="anonymous"
		></script>
		<link rel="stylesheet" href="styles.css" />
	</head>
	<body>
		<h1>Aula 01</h1>

		<button hx-get="http://localhost:3000/content" hx-target=".target-div">
			Atualizar conteúdo
		</button>

		<div class="target-div"></div>

		<div class="target-div"></div>

		<h2>Aula 02</h2>

		<button
			hx-get="http://localhost:3000/newContent"
			hx-target="#swap-content"
		>
			Atualizar conteúdo
		</button>

		<button
			hx-get="http://localhost:3000/newContent"
			hx-target="#swap-content"
			hx-swap="outerHTML"
		>
			Atualizar conteúdo com Swap
		</button>

		<div id="swap-content"></div>

		<h2>Aula 03</h2>

		<div id="swap-area">
			<button
				hx-get="http://localhost:3000/content"
				hx-target="#swap-area"
				hx-swap="afterbegin"
			>
				After begin
			</button>
			<button
				hx-get="http://localhost:3000/content"
				hx-target="#swap-area"
				hx-swap="beforebegin"
			>
				Before begin
			</button>
			<button
				hx-get="http://localhost:3000/content"
				hx-target="#swap-area"
				hx-swap="beforeend"
			>
				Before end
			</button>
			<button
				hx-get="http://localhost:3000/content"
				hx-target="#swap-area"
				hx-swap="afterend"
			>
				After end
			</button>
		</div>

		<button
			hx-get="http://localhost:3000/outOfBound"
			hx-target="#ignored-target"
		>
			Enviar requisição
		</button>

		<div id="notification">Notificação inicial</div>

		<div id="ignored-target"></div>
	</body>
</html>
