<!DOCTYPE html>
<html lang="pt-br">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Eventos</title>
		<!-- htmx cdn -->
		<script
			src="https://unpkg.com/htmx.org@1.9.10"
			integrity="sha384-D1Kt99CQMDuVetoL1lrYwg5t+9QdHe7NLX/SoJYkXDFfX37iInKRy5xLSi8nO7UC"
			crossorigin="anonymous"
		></script>
		<script src="script.js" defer></script>
	</head>
	<body>
		<h2>Aula 01</h2>

		<h2>Aula 02</h2>

		<button
			hx-get="http://localhost:3000/beforeAfterSwap"
			hx-target="#swap-result"
		>
			Executar Swap
		</button>

		<div id="swap-result"></div>

		<h2>Aula 03</h2>

		<button
			hx-get="http://localhost:3000/beforeAfterRequest"
			hx-target="#request-result"
		>
			Executar request
		</button>

		<div id="request-result"></div>

		<h2>Aula 04</h2>

		<button
			hx-get="http://localhost:3000/endpointQueFalha"
			hx-target="#error-result"
		>
			Executar error
		</button>

		<div id="error-result"></div>

		<h2>Aula 05</h2>

		<button
			hx-get="http://localhost:3000/endpointParaInterceptar"
			hx-target="#interception-result"
		>
			Executar interceptação
		</button>

		<div id="interception-result"></div>

		<h2>Aula 06</h2>

		<p>Logger</p>

		<h2>Aula 07</h2>

		<input
			type="text"
			hx-get="http://localhost:3000/onChange"
			hx-target="#change-response"
			hx-trigger="keyup"
			placeholder="Digite..."
		/>

		<div id="change-response"></div>

		<input
			type="text"
			hx-get="http://localhost:3000/onFocus"
			hx-target="#focus-response"
			hx-trigger="focus"
			placeholder="Digite..."
		/>

		<div id="focus-response"></div>

		<input
			type="text"
			hx-get="http://localhost:3000/onBlur"
			hx-target="#blur-response"
			hx-trigger="blur"
			placeholder="Digite..."
		/>

		<div id="blur-response"></div>

		<br />

		<form
			hx-post="http://localhost:3000/formValidation"
			hx-target="#form-response"
		>
			<input type="text" name="username" />
			<input type="text" name="email" />
			<button>Enviar</button>
		</form>

		<div id="form-response"></div>

		<h2>Aula 08</h2>

		<button id="custom-event-button">Adicionar evento customizado</button>

		<div id="custom-event-response"></div>
	</body>
</html>
